.theme {
    padding: .2rem .75rem;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
       background: #FFF
    }
}

.left-radius {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.right-radius {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}